    .loginbg {
        background-image: url('../images/bg_1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .forgetbg {
        background-image: url('../images/forgetbg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .regbg {
        background-image: url('../images/regbg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .slide-bg1 {
        background-image: url('../images/new1.jpg');
    }
    
    .slide-bg2 {
        background-image: url('../images/new2.jpg');
    }
    
    .slide-bg3 {
        background-image: url('../images/new2.jpg');
    }
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content/Box */
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }
    /* The Close Button */
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }